<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icia.mapper.ReplyMapper">

<insert id="insert" parameterType="Reply">
	insert into reply(cno,product_id,id,replytext,write_date,update_date)
	values(cno_seq.nextval,#{product_id},#{id},#{replytext},sysdate,sysdate)
</insert>
<update id="update">
	update reply set replytext=#{replytext}, update_date=sysdate
	where cno = #{cno} and rownum=1

</update>
<delete id="delete">
	delete from reply where cno=#{cno} and rownum=1
</delete>
<select id="list" resultType="Reply" parameterType="int">
	select cno, id, replytext, write_date, update_date
	from reply
	where product_id = #{product_id}
	order by cno desc

</select>
</mapper>







