<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icia.aboard2.dao.TravelRepository">
	<!-- C -->
	<insert id="createTravel" parameterType="com.icia.aboard2.dto.TravelDto$CreateTravel">
		insert into travel(travel_bno,title,content,id,travel_start_date,travel_end_date)
		values(travel_bno_seq.nextval,#{title},#{content},#{id},null,null)
	</insert>
	<!-- U-->
	<update id="updateTravel" parameterType="com.icia.aboard2.dto.TravelDto$UpdateTravel">
		update travel set title=#{title}, content=#{content}, travel_start_date=#{travelStartDate},
		travel_end_date=#{travelEndDate} where id=#{id}
	</update>
	<!-- R -->
	<select id="listTravel" resultType="com.icia.aboard2.dto.TravelDto$ListTravel">
		select title,content,travel_start_date travelStartDate,travel_end_date travelEndDate from travel where id=#{id}
	</select>
	<!-- D -->
	<delete id="deleteTravel">
		delete from travel where travel_bno=#{travelBno} and rownum=1
	</delete>
</mapper>




