<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icia.aboard2.dao.UserRepository">
	<select id="idCheck" resultType="string">
		select id from users where id=#{id} and rownum=1
	</select>
	<select id="login" resultType="hashmap" parameterType="com.icia.aboard2.dto.UserDto$LoginUser">
	 	select a.authority, u.pwd pwd from users u, authorities a
		where u.id = a.id and u.id=#{id}
	</select>
	<insert id="insertUser" parameterType="com.icia.aboard2.dto.UserDto$CreateUser">
		insert into users(id, pwd, irum, email) 
		values(#{id}, #{pwd}, #{irum}, #{email})
	</insert>
	<insert id="authorities">
		insert into authorities(id,authority)
		values(#{id}, 'ROLE_USER')
	</insert>
	
	
	<update id="pwdChange">
		update users set pwd=#{pwd} where id=#{id} and rownum = 1
	</update>
	<update id="irumChange">
		update users set irum=#{irum} where id=#{id} and rownum = 1
	</update>
	
	<update id="update">
		update users set irum=#{irum}, email=#{email}
		where id=#{id} and rownum=1
	</update>
</mapper>




