@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
#wrap {
	width: 100%;
	height: 100%;
	
	margin: 0 auto;
	
}
#header-bar{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 22px;
	color: black;
}

aside {
	width:20%;
	float:left;
	margin: 0;
}
section {
	width: 80%;
	height: 100%;
	padding: 20px;
	float: right;
	min-height: 600px;

}
#main{
	overflow: hidden;
	
}
a:hover{
	text-decoration: none;	
	
}
a{
	text-decoration: none;
	
}
nav{
	font-family: 'Hanna';
	
	
}
