@charset "UTF-8";

	div.inner.cover{
		width: 1263px;
		height: 800px;
		position: absolute;
		top:400px;
		right: 0;
		
	}
	div.masthead.clearfix{
		width: 100%;
		position: absolute;
		left: 0;
	}
	h3.masthead-brand{
		position: absolute;
		left: 200px;
		top:50px;
		font-size: 52px;
	}
	.write{
		position: absolute;
		top: 350px;
		right: 190px;
		font-size: 27px;	
	}
		tr,th,td{
		border: 1px solid gray;
		width: 300px;
		text-align: center;
		
	}
	.photo{
		height: 300px;
		
		display: inline;
	}
	table{
		
		display: inline;
	}
	
	ul.nav.navbar-nav.navbar-righ{
		position: absolute;
		right: 150px;
		top:25px;
		font-size: 18px;
	}
	