<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
var map = new naver.maps.Map("map", {
    center: new naver.maps.LatLng(37.4562557,126.70520620000002),
    zoom: 10,
    mapTypeControl: true
});


// result by latlng coordinate
function searchAddressToCoordinate(address) {
    naver.maps.Service.geocode({
        address: address
    }, function(status, response) {
        if (status === naver.maps.Service.Status.ERROR) {
            return alert('Something Wrong!');
        }
        console.log(document.getElementById('cityGu').value);
        if(document.getElementById('cityGu').value===""){
        var result = response.result;
        // 검색 결과 갯수: result.total
        // 첫번째 결과 결과 주소: result.items[0].address
        // 첫번째 검색 결과 좌표: result.items[0].point.y, result.items[0].point.x
        var myaddr = new naver.maps.Point(result.items[0].point.x, result.items[0].point.y);
        map.setCenter(myaddr);
        }
    });
}
$(function(){
	var contentList=[],
		markerList=[],
		ttList = [],
		lcList = [];	
$('#submit').on('click', function(e) {
    setTimeout(function(){
    	e.preventDefault();
    	console.log($('#address').val());
    	console.log(document.getElementById('address'));
        searchAddressToCoordinate($('#address').val());
     var lcLength = $("input[name='lcName']").length;
     var ttLength = $("input[name='lcTitle']").length;
     console.log(ttLength);
     for(var i = 0; i<ttLength; i++){
    	 var obj = {};
    	 obj.title = $("input[name='lcTitle']")[i].value;
    	 ttList.push(obj);
     }
     for(var i = 0; i<lcLength; i++){
    	 if(i%2==0||i==0){
    		 var obj = {};
    		 obj.lat = $("input[name='lcName']")[i].value;
    	 }
    	 if(i%2==1){
    		 obj.lng = $("input[name='lcName']")[i].value;
    		lcList.push(obj);
    	 }
     }
     
     for(var i = 0; i<lcList.length; i++){
	 // 마커
     var marker = new naver.maps.Marker({
         position: lcList[i],
         map: map
     });
     // 인포 윈도우
     var infoWindow = new naver.maps.InfoWindow({
    	   content :  '<div style="padding:10px;min-width:200px;line-height:150%;"><h4 style="margin-top:5px;">검색 주소 : '+ttList[i].title +'</h4><br /></div>'
    	});
 	 markerList.push(marker);
     contentList.push(infoWindow);

  	map.setCenter(lcList[i]);
    }
     function getClickHandler(seq) {
     	    return function(e) {
     	    	console.log(seq);
     	        var marker = markerList[seq],
     	            infoWindow = contentList[seq],
					title = ttList[seq].title;
     	        if (infoWindow.getMap()) {
     	            infoWindow.close();
     	        } else {
     	            infoWindow.open(map, marker);
     	            console.log(title);
     	            document.getElementById('lcMarker').value=title;
     	        }
     	    }
     	}

     	for (var i=0, ii=markerList.length; i<ii; i++) {
     	    naver.maps.Event.addListener(markerList[i], 'click', getClickHandler(i));
     	}
     	
   }, 500);
 
});


});
</script>
</head>
<body>
<div style="overflow-y: scroll; width: 1150px; height: 800px;">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="" style="color:black;">1. 숙소선택</a></li>
  </ol>
</nav>
	<select-tpl></select-tpl>
	<button type="button" ng-click="areaSearch(city)" id="submit">검색</button>
	<div id="mapWrap">
	<div id="map"></div>
	<div id="sideWindow">
	<input type="hidden" name="lcMarker" id="lcMarker" value="">
	<button type="button" ng-click="stayAdd()">숙소 추가하기</button>
	<div ng-show="stayList!=null">
	<div ng-repeat="x in stayList">
	{{x.stay}}
	<img src="" ng-src="{{x.img}}" style="width: 290px;height: 100px;">
	<button type="button" ng-click="stayDelete(x)">삭제하기</button>
	</div>
	</div>
	<button type="button" ng-click="next()">다음단계로</button>
</div>
    <input id="address" type="hidden" placeholder="검색할 주소" value={{searchCode}} />
    <input id="mapsearch" type="hidden" value="주소 검색" />
<div ng-show="searchCode">
<p>"{{searchCode}}" 지역의 숙소 결과 입니다.</p>
</div>
<div class="listWrap">
<div ng-show="data==''">
	결과 내용이 없습니다.
</div>
<ul ng-repeat="x in data track by $index" class="galaryList">
<a href="#!/travel/detail/{{x.contentId}}">
<li><img src="" ng-src={{x.img}} id="{{$index}}" style="width:200px; height: 200px; border-radius: 30px;">
</li>
<small style="width: 200px;">{{x.txt}}</small>
</a>
<input type="hidden" name="lcTitle" value="{{x.txt}}">
<input type="hidden" name="lcName" value="{{x.lat}}">
<input type="hidden" name="lcName" value="{{x.lng}}">
</ul>
</div>
</div>

</div>
</body>
</html>