<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
-$('#firstDatePick').datepicker({
	autoclose : true,
	language : "kr",
	startDate : new Date(),
  format : 'yyyy-mm-dd'
}).on({
	show : function(){
  	$(".dropdown-menu").css({"margin-left" : "50px"});
  },
  hide : function(){
  	$(".dropdown-menu").css({"margin-left" : "0px"});
  }
});
$('#secondDatePick').datepicker({
	autoclose : true,
	language : "kr",
	startDate : new Date(),
  	format : 'yyyy-mm-dd'
});
</script>
</head>
<body>
<div style="overflow-y: scroll; width: 1150px; height: 800px;">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active"><a href="" style="color:black;">1. 숙소선택</a></li>
    <li class="breadcrumb-item active"><a href="" style="color:black;">2. 관광지선택</a></li>
    <li class="breadcrumb-item active"><a href="" style="color:black;">3. 상세계획</a></li>
    
  </ol>
</nav>
<div id="mapWrap">
<div id="travelContent">

<p>시작일 : <input type="text" name="datepick" id="firstDatePick" ng-model="startDate"></p>
<p>마지막일 : <input type="text" name="datepick" id="secondDatePick" ng-model="endDate"></p>

</div>
	<div id="sideWindow">
	
	</div>

</div>
</div>
</body>
</html>