<nav>
<ul class="shadow-lg p-3 mb-5 bg-dark nav justify-content-center">
  <li class="nav-item" style="margin: 0 auto;">
    <a class="text-white nav-link active" href="#!1">메인</a>
  </li>
  <li class="nav-item" style="margin: 0 auto;">
    <a class="text-white nav-link" href="#!boards/list/1/이벤트">이벤트</a>
  </li>
  <li class="nav-item" style="margin: 0 auto;">
    <a class="text-white nav-link" href="#!boards/list/1/공지사항">공지사항</a>
  </li>
  <li class="nav-item" style="margin: 0 auto;">
    <a class="text-white nav-link" href="#!/travel/socket">여행갈래</a>
  </li>
  <li class="nav-item" style="margin: 0 auto;">
    <a class="text-white nav-link" href="#!/travel/staySearch">숙소검색</a>
  </li>
  <li class="nav-item" style="margin: 0 auto;">
    <a class="text-white nav-link" href="#!/travel/tourSearch">관광지검색</a>
  </li>
</ul>

</nav>