<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

    <div class="container">
<div class="center" style="width: 200px; margin: 0 auto;">
<img src="http://localhost:8081/upload/Avator.png" alt="Avatar" style="width:200px; border-radius: 50%;">
</div>

      <form class="center-block form-signin" ng-submit="login()" style="width: 400px; margin: 0 auto;" >
        <h2 class="center form-signin-heading" style="font-size: 25px; margin-bottom: 40px; margin-top: 40px; text-align: center;">로그인</h2>
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <label for="id" class="sr-only">ID</label>
        <input type="text" ng-model="id" id="id" name="id" class="form-control" placeholder="아이디" required autofocus>
        <label for="pwd" class="sr-only">Password</label>
        <input type="password" ng-model="pwd" id="pwd" name="pwd" class="form-control" placeholder="비밀번호" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 아이디 저장
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
        로그인
        </button>
      
      </form>
<div class="cp-spinner" style="position: absolute; top:480px; left:670px;">
<div class="cp-heart" ng-if="dataLoading"></div>
</div>
    </div>
</body>
</html>