<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myPro.dao.ReplyRepository">
<!-- 댓글쓰기 -->
<insert id="rInsert " parameterType="com.myPro.dto.ReplyDto$InsertReply">
	insert into reply(cno,bno,id,replytext,write_date)
	values(cno_seq.nextval,#{bno},#{id},#{replytext},sysdate)
</insert>
<!-- 댓글삭제 -->
<delete id="rDelete ">
	delete from reply where cno=#{cno} and rownum=1
</delete>
<!-- 삭제권한확인 -->
<select id="rIsDelete" resultType="string">
	select id from reply where cno=#{cno} and id=#{id} and rownum=1
</select>
<!-- 댓글리스트 -->
<select id="rList" resultType="com.myPro.entity.Reply" parameterType="int">
	select cno, bno,id, replytext, write_date
	from reply
	where bno = #{bno}
	order by cno desc

</select>
<!-- 댓글알림 -->
<insert id="rNoticeReply" parameterType="com.myPro.dto.ReplyDto$NoticeReply">
	insert into notice(notice_bno,id,bno,notice_content,notice_id,notice_date)
	values(notice_bno_seq.nextval,#{id},#{bno},#{notice_content},#{notice_id},sysdate)
</insert>
</mapper>







