
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
    appearance: none;
}
.galaryList{
	float: left;
	list-style: none;
	text-align: center;
}
.listWrap{
	width: 100%;
	height: 900px;
	border: 2px solid aqua;
}
#map{
	border: 2px solid red;
	float: left;
	overflow: hidden;
	width:780px;
	height:400px;
	margin-bottom: 100px;
}
#sideWindow{
	border: 2px solid black;
	width: 300px;
	height: 500px;
	float: right;
	
	
}
#mapWrap{
	border: 2px solid yellow;
	width: 1100px;
	height: 1200px;

}
.search{
	border: 2px solid brown;
}
#travelContent{
	width: 780px;
	height: 100%;
	border: 2px solid aqua;
	display: inline-block;
	overflow: hidden;
	
}
.paginationWrap{
    width: 1100px;
    height: 100px;
    border: 2px solid pink;
    position: absolute;
   
	
}
.paginationA {
	width: 330px;
	height: 50px;
	display: block;
	margin: 0 auto;
}

.paginationA a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
