<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
$(function(){
	

$('.tabWrap ul li a').click(function(e){
	e.preventDefault();
	$('.tabCon01').hide();
	$(this).parent('li').addClass('on').siblings('li').removeClass('on');
	$($(this).attr('href')).show();
});
});
</script>
</head>
<body>
<div id="detailContent">
<div class="tabWrap  col4"> 
			     <ul class="tabul">
			     <li class="on"><a href="#!/travel/detail/{{contentId}}"><span>공통정보</span></a></li>        
			     <li><a href="#!/travel/introInfo/{{contentId}}"><span>소개정보</span></a></li>  
			     <li><a href=""><span>추가이미지</span></a></li> 
			     <li><a href=""><span>룸이미지</span></a></li>
			  </ul>
			  </div>
     </div>
    	<div>
    	</div>

</body>
</html>