<header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a href="http://localhost:8081/aboard2"><i class="fa fa-fw fa-home" style="margin-right: 15px;"></i>홈으로</a>
  <a href="#!/users/updateUser"><i class="fa fa-fw fa-user" style="margin-right: 15px;"></i>내 정보보기</a>
  <a href="#"><i class="fa fa-fw fa-envelope"style="margin-right: 15px;"></i>문의하기</a>
  <a href="#"><i class="fa fa-briefcase" style="margin-right: 15px;"></i>회사소개</a>
</div>
<ul class="nav justify-content-end" ng-show="globals!=null">
	<li class="nav-item" ng-repeat="x in globals"><a ng-click="openNav()" class="nav-link" href="">{{x.id}}님 반갑습니다</a></li>
	<li class="nav-item"><a class="nav-link" href="#!/users/login">로그아웃</a></li>
	</ul>
	<ul class="nav justify-content-end" ng-show="globals==null">
	<li class="nav-item"><a class="nav-link" href="#!/users/agree">회원가입</a></li>
	<li class="nav-item"><a class="nav-link" href="#!/users/login">로그인</a></li>
	</ul>
</header>
