<select ng-model="city.area" ng-hide="city.do">
		<option value="">선택안함</option>
		<option ng-repeat="x in area" value="{{x}}">{{x}}</option>
	</select>
	<select ng-model="city.do" ng-hide="city.area">
		<option value="">선택안함</option>
		<option ng-repeat="x in do" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.area==='서울'" ng-model="city.gu" id="cityGu"> 
		<option value="">선택안함</option>
		<option ng-repeat="x in seoulgu" value="{{x}}" >{{x}}</option>
	</select>
	<select ng-show="city.area==='인천'" ng-model="city.gu" id="cityGu">
	<option value="">선택안함</option>
		<option ng-repeat="x in incheongu" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.area==='대전'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in daejeongu" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.area==='대구'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in daegugu" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.area==='광주'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in gwangjugu" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.area==='부산'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in busangu" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.area==='울산'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in ulsangu" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.area=='세종특별자치'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in sejonggu" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.do==='경기도'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in gyeonggi" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.do==='강원도'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in gangwon" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.do==='충청북도'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in chungbuk" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.do==='충청남도'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in chungnam" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.do==='경상북도'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in gyeongbuk" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.do==='경상남도'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in gyeongnam" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.do==='전라북도'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in jeonbuk" value="{{x}}">{{x}}</option>
	</select>
	<select ng-show="city.do==='전라남도'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in jeonnam" value="{{x}}">{{x}}</option>
	</select>
		<select ng-show="city.do==='제주도'" ng-model="city.gu" id="cityGu">
		<option value="">선택안함</option>
		<option ng-repeat="x in zezudo" value="{{x}}">{{x}}</option>
	</select>