<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body> 
  <form class="form-inline my-2 my-lg-0" style="float: right;">
  <select class="custom-select" id="inputGroupSelect01" ng-model="select" required="required">
    <option style="display:none" value="">선택</option>
    <option value="1">제목</option>
    <option value="2">아이디</option>
  </select>
  
   
  <div ng-show="select==1">
      <input ng-keyup="search.writer=''" ng-model="search.title" class="input-box" class="form-control mr-sm-2" type="text" placeholder="검색" aria-label="Search" kr-input>
      
      </div>
   <div ng-show="select==2">
   
      <input ng-keyup="search.title=''" class="input-box" ng-model="search.writer" class="form-control mr-sm-2" type="text" placeholder="검색" aria-label="Search" kr-input>
      
 	</div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>

  "{{search.title}}{{search.writer}}"에 대한 관련 검색입니다.

   
    
   
<table class="table table-dark">	
		
			<tr><th scope="col">글번호</th>
			<th scope="col">제목</th>
			<th scope="col">글쓴이</th>
			<th scope="col">날짜</th>
			<th scope="col">조회수</th></tr>
			<tr ng-repeat="x in boardsList | filter: search">
			<td>{{ $index + 1 }}</td>
			<td><a href="#!/boards/read/{{x.bno}}" style="color: white; padding-right: 20px;">{{x.title}}({{x.replyCnt}})</a><span class="badge badge-pill badge-danger" >NEW</span></td>
			<td>{{x.writer}}</td>
			<td>{{x.writeDate}}</td>
			<td>{{x.readCnt}}</td>
		</table>
		<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#!/boards/list/1">1</a></li>
    <li class="page-item"><a class="page-link" href="#!/boards/list/2">2</a></li>
    <li class="page-item"><a class="page-link" href="#!/boards/list/3">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<a href="#!/boards/writePage"><button type="button" id="write" class="btn btn-dark">글쓰기</button></a>
</body>

</html>